*{
	margin:0;
	font-family:arial,Helvetica,sans-serif;
}
h1{
	color: OliveDrab;
}
a{
	color: #B8860B;
	font-size:15px;
	text-decoration: none;
}
nav{
	background-color:#EEE8AA;
	padding-top:8px;
	padding-bottom:8px;
}
hr{
	color: yellow;
}
h3{
	color:#B8860B;
}
section{
	display:flex;
	flex-direction:row;
}
article{
	display:flex;
	flex-direction:row;
}
p{
	margin-right:200px;
}
img{
	margin-right:200px;
}
p#t{
	color: OliveDrab;
	margin-left: 470px;
}
a#j{
	color: #B8860B;
	margin-left: 505px;
	font-size:15px;
	text-decoration: none;
}
a#e{
	color: #B8860B;
	margin-left: 505px;
	font-size:15px;
	text-decoration: none;
}
footer{
	background-color:#EEE8AA;
}
